@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #333;
  }
  
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* scrollbar */
.custom-sidebar-menu::-webkit-scrollbar {
  width: 5px; 
}

.custom-sidebar-menu::-webkit-scrollbar-track {
  background: transparent; 
}

.custom-sidebar-menu::-webkit-scrollbar-thumb {
  background: #bbbdbf; 
  border-radius: 10px;
}

.custom-sidebar-menu::-webkit-scrollbar-thumb:hover {
  background: #858a93; 
}
.custom-sidebar-menu {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db transparent;
}